#wallpaperbox {
  position: absolute;
  top: 12vh;
  width: 70vw;
  height: 30vh;
  border: 1px solid green;
  padding: 60px;
  margin: 40px;
  z-index: -10;
}

.mainroom {
 position: absolute;
  top: 10vh;
  width: 100vw;

}

.mainroom img {
width: 100vw;
}

.teddyb {
	position: relative;
	bottom: 10vh;
}

.meds {
	position: relative;
	bottom: 10vh;
}

.hood {
	position: relative;
	bottom: 10vh;
}

.menu {
position: fixed;
bottom: 0;
display: flex;
flex-direction: row;
}